body{
	padding-top: 50px;
}

.navbar{
	border-radius: 0px;
	-webkit-box-shadow: 0 2px 3px rgba(99,99,99,0.7);
    -moz-box-shadow: 0 2px 3px rgba(99,99,99,0.7);
    box-shadow: 0 2px 3px rgba(99,99,99,0.7);
}

.section-header{
	font-family: 'Roboto', sans-serif;
	color: #497B8C;
}

thead{
	background-color: #808080;
	color: white;
	font-family: 'Roboto', sans-serif;
}

.category-header{
	line-height: 5px;
	background-color: #eceeef;
}

.category-header td{
	font-weight: bold;
	color: #497B8C;
	/*font-family: italic;*/
}
