---
layout: default
---


<div class="jumbotron">
    <h1 class="display-4">{{ site.title }}</h1>
    <p class="lead">{{ site.description }}</p>
    <p class="lead">
    <a class="btn btn-primary btn-lg" href="{{ site.github }}">View Project</a>
    </p>
</div>

<div class="row">
    <div class="container">
        <div class="col-md-12">
            <h2>Latest Posts</h2>

            {% for p in paginator.posts %}
            <div class="card">
                {% if p.cover %}
                <img class="card-img-top" src="{{ p.cover }}" alt="Cover image for {{ p.title }}" />
                {% endif %}
                <div class="card-block">
                    <h4 class="card-title"><a href="{{ p.url | relative_url }}">{{ p.title }}</a></h4>
                    <h6 class="card-subtitle text-muted">{{ p.date | date_to_string }}</h6>
                    <p class="card-text">{{ p.excerpt }}</p>
                </div>
            </div>
            {% endfor %}

        <p class="text-muted">Navigation</p>
        <nav aria-label="Page navigation">
            <ul class="pagination">
                {% if paginator.previous_link %}
                    <li class="page-item">
                        <a class="page-link" href="{{ paginator.previous_page_path | relative_url }}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                {% endif %}
                {% for count in (1..paginator.total_pages) %}
                    {% if count == paginator.page %}
                        <li class="page-item active"><a class="page-link" href="#">{{count}}</a></li>
                    {% elsif count == 1 %}
                        <li class="page-item "><a class="page-link" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">{{ count }}</a></li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', count }}"> {{count}} </a></li>
                    {% endif %}
                {% endfor %}
                {% if paginator.next_link %}
                <li class="page-item">
                    <a class="page-link" href="{{ paginator.next_page_path | relative_url }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
                {% endif %}
            </ul>
        </nav>
        </div>
    </div>
</div>
