<nav class="navbar-fixed-top container">
	<div class="navbar navbar-dark bg-inverse">
		<div class="container">
			<button class="navbar-toggler hidden-lg-up" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"></button>
			<div class="collapse navbar-toggleable-md" id="navbarResponsive">
			    <a class="navbar-brand" href="{{ site.baseurl }}">Mentor Match</a>
			    <ul class="nav navbar-nav">
			    	{% assign nav_pages = site.pages | where: "navigation",true | sort: "order"%}
			        {% for p in nav_pages %}
			        <li class="nav-item pull-right {% if p.url == page.url %}active{% endif %}">
		                <a class="nav-link" href="{{ p.url | relative_url }}">{{ p.title | escape }}
		                {% if p.url == page.url %}<span class="sr-only">(current){% endif %}</a>
			        </li>
			        {% endfor %}
			    </ul>
		    </div>
	    </div>
	</div>
</nav>
